/* CanvasToolNavbar.css */

.canvas-tool-navbar {
    height: 30px;
    background-color: #333;
    display: flex;
    align-items: center; 
    padding: 0 20px;
    position: fixed;
    top: 25px; 
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: 1px solid #555; 
}
  
  .tool-actions {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }
  
  .tool-actions li {
    display: inline-block;
  }
  
  .tool-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%; /* Make the button take full height */
    display: flex; 
    align-items: center; /* Vertically center the content inside */
}

.tool-btn img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    filter: invert(1); /* Invert to make the icon white */
}
  
  .tool-btn:hover img {
    filter: invert(0.7); /* Lighter on hover */
  }
  