.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
  }
  
  .new-project-form {
    background-color: white;
    padding: 30px; 
    width: 630px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; 
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 26px; 
    cursor: pointer;
  }
  
  h2 {
    font-size: 24px; 
  }
  
  .form-body label {
    display: block;
    margin: 15px 0 10px; 
    font-weight: bold;
    font-size: 20px; 
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 12px; 
    margin-bottom: 25px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .form-footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px; 
  }
  
  .cancel-btn {
    background-color: white;
    border: 1px solid gray;
    color: black;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px; 
  }
  
  .create-btn {
    background-color: rgb(194, 58, 58);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px; 
  }
  
  .create-btn:hover {
    background-color: darkred;
  }
  
  .cancel-btn:hover {
    background-color: lightgray;
  }
  .close-btn:hover {
    background-color: lightgray;
  }